* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding-top: 30px;
}

.quiz-container {
  background: white;
  border-radius: 8px;
  padding: 20px;
  width: 90%;
  max-width: 500px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding-left: 50px;
  padding-right: 50px;
}

#question img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}
#answers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 20px;
}

.answer-btn {
  padding: 12px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.answer-btn:hover {
  background-color: #45a049;
}

#next-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#next-btn:hover {
  background-color: #1e87dc;
}
